<!DOCTYPE html>
<html lang="en">

<head>
	<!--  Meta  -->
	<meta charset="UTF-8" />
	<title>Build BBS</title>
	<!--  Styles  -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="styles/index.css"> -->
</head>

<body>
    <h1>my node app</h1>
</body>

</html>