<!DOCTYPE html>
<html lang="en">

<head>
	<!--  Meta  -->
	<meta charset="UTF-8" />
	<title>Node app</title>
	<!--  Styles  -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div class="container">my node app</div>
</body>
<script src="/js/index.js" defer></script>
</html>